
@media (min-width: 576px) {

  .product-modal-content {
    width: 400px;
  }

  .product-modal-container img {
    width: 400px;
    height: 300px;
  }

}

@media (min-width: 768px) {

 }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }