---
layout: default
permalink: /menu
title: order
---

<img src="/images/bag.png" alt="bag icon" id="bag-icon"/>

<div class="bag">
  <div class="bag-content">
    <br>
    <h4>Bag</h4>
    <br>
    <div id="bag-items">
      <div class="rendered-bag-items"></div>
      <div id="total-container" class="bag-item">
        <p class="bag-item-price" id="total">

        </p>
        <p>
          <strong>Total</strong>
          <br>
        </p>
        <p>
          <form id="order-form">
            <input placeholder="Name" required type="text" name="name" id="order-name" />
            <br>
            <input placeholder="Email" required type="email" name="email" id="order-email" />
            <br>
            <input placeholder="Phone Number" required type="text" name="phone" id="order-phone" />
            <br>
            <textarea placeholder="Address" required name="address" id="order-address"></textarea>
            <br>
            <p>Pickup or Delivery?</p>
            <input required class="radiogroup" id="pickup" type="radio" value="Pickup" name="deliveryoption">
            <label class="deliveryoptionlabel" for="pickup"> Pickup </label>
            <br>
            <input required class="radiogroup" id="delivery" type="radio" value="Delivery" name="deliveryoption">
            <label class="deliveryoptionlabel" for="delivery">Delivery</label>
            <br>
            <p>Date:</p>
            <input
              required
              type="date" id="date-input"
              name="date"
            />
            <br>
            <center>
              <button class="btn btn-outline-primary btn-sm">Checkout</button>
              <p class="checkout-desc">After clicking checkout check your email for your order confirmation.</p>
            </center>
          </form>
        </p>
      </div>
    </div>
    <br>
    <center>
      <button class="btn btn-outline-primary" id="bag-close">Close</button>
    </center>
    <br>
    <br>
  </div>
</div>

<br>
<br>
<br>
<div class="container order-container">
  <h3>Order Online</h3>
  <br>
  <div class="info">
    <div class="card-custom">
      <br>
      <img src="/images/bag.png" alt="bag"/>
      <p>Order</p>
    </div>

    <div class="card-custom">
      <br>
      <img src="/images/arrow.jpg" alt="bag"/>
      <br>
    </div>

    <div class="card-custom">
      <br>
      <img src="/images/phone.png" alt="phone"/>
      <p>Confirm</p>
    </div>

    <div class="card-custom">
      <br>
      <img src="/images/arrow.jpg" alt="bag"/>
      <br>
    </div>

    <div class="card-custom">
      <br>
      <img src="/images/truck.png" alt="truck"/>
      <p>Receive</p>
    </div>
  </div>

  <br>
  {% assign ordered_categories = site.categories | sort: "order" %}
  
  {% assign closed_flag = true %}

  {%- for category in ordered_categories -%}
    {% if category.hidden == false %}

    {% assign closed_flag = false %}

    <h2>{{ category.title }}</h2>
    <br>
    <div class="row">
      {%- for item in category.products -%}
        {%- assign product = site.products | where: "title", item | first  -%}
        {% assign productFilename = product.image | split:"/" | last  %}
        <div class="col-xs-12 col-md-6">
          <div id="{{ category.slug }}-{{ product.slug }}-card" class="product-card">
            <span class="price">${{product.price}}</span>
            {% asset '{{ productFilename }}' magick:resize='200' %}
            <p class="title">{{product.title}}</p>
            <p class="desc">{{product.description}}</p>
            {%- include product_modal.html -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <br>

    {% endif %}
  {%- endfor -%}

  <div style="text-align: center;" class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-6">
      {% if closed_flag == true %}
        <div>
          <br>
          <img src="/images/kitchen_closed.jpg" alt="kitcen closed" width="350px">
          <br>
          <br>
          <p>
            <b>OOPS! ALL ORDERS ARE CLOSED UNTIL NOVEMBER 6TH</b>
          </p>
          <br>
        </div>
      {% endif %}
    </div>
  </div>

</div>
