<script>
  document.querySelector("#{{ category.slug }}-{{ product.slug }}-card")
    .addEventListener("click", function(){
      const instance = basicLightbox.create(`
        <div id="{{ product.slug }}-modal" class="product-modal-container">
          {% asset '{{productFilename}}' magick:resize='400' magick:crop='400x300+0+0' magick:gravity='center' %}
          <span class="modal-title"> {{ product.title }} - ${{ product.price }}</span>
          <br>
          <div class="product-modal-content">
            {% if product.description %}
              <p class="product-desc">{{ product.description }}</p>
            {% endif %}
            <form id="{{product-slug}}-form">
              {%- for item in product.options -%}
                <div class="options-group" >
                  <input required type="radio" id="{{item | replace: ' ', ''}}" name="option" value="{{item}}">
                  <label class="label" for="{{item | replace: ' ', ''}}"> {{item}} </label>
                </div>
              {%- endfor -%}
              {% if product.options.size > 0 %}
                <br>
              {% endif %}
              {%- for item in product.spiciness -%}
                <div class="options-group" >
                  <input required type="radio" id="{{item | replace: ' ', ''}}" name="spiciness" value="{{item}}">
                  <label class="label" for="{{item | replace: ' ', ''}}"> {{item}} </label>
                </div>
              {%- endfor -%}
              {% if product.spiciness.size > 0 %}
                <br>
              {% endif %}
              <label for="qty">Quantity:</label>
              <input required value="1" min="1" type="number" name="qty" class="qty" />
              <br>
              <label for="instructions">Special Instructions:</label> <br>
              <textarea name="instructions"></textarea>
              <center>
                <button class="btn btn-outline-primary">
                  Add to Bag
                </button>
              </center>
              <input type="hidden" name="name" value="{{ product.title }}">
              <input type="hidden" name="price" value="{{ product.price }}">
            </form>
            <center>
              <button id="{{ product.slug }}-close" class="btn btn-outline-primary closeBtn">
                Close
              </button>
            </center>
          </div>
        </div>
      `);
      instance.show();
      instance.element()
        .querySelector("form")
        .addEventListener("submit", addToBagHandler);
      instance.element()
        .querySelector("#{{ product.slug }}-close")
        .addEventListener("click", instance.close);
    });
</script>
