<script>
  document.querySelector("#{{ product.slug }}-card")
    .addEventListener("click", function(){
      const instance = basicLightbox.create(`
        <div id="{{ product.slug }}-modal">
          {{ productFilename | append:' [resize:500x250]' | image }}
          <br>
          <div class="product-modal-content">
            <strong>
              <p>{{ product.title }}</p>
            </strong>
            <form id="{{product-slug}}-form">
              {%- for item in product.options -%}
                <input required type="radio" name="option" value="{{item}}">
                <label for="{{item}}"> {{item}} </label>
              {%- endfor -%}
              <br>
              <label for="qty">Quantity:</label>
              <input required value="1" min="1" type="number" name="qty" class="qty" />
              <br>
              <label for="instructions">Special Instructions:</label> <br>
              <textarea name="instructions"></textarea>
              <center>
                <button class="btn btn-outline-primary">
                  Add to Bag
                </button>
              </center>
            </form>
            <br>
          </div>
        </div>
      `);
      instance.show();
      instance.element()
        .querySelector("form")
        .addEventListener("submit", addToBagHandler)
    });
</script>
