@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  text-align: center;
}

nav {
  position: absolute;
  background-color: #0a0a0a;
  padding: 5px 20px ;
  transform: translate(-150px, 0);
  left: 50%;
  width: 300px;
  height: 2em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}


.home {
  max-width: 300px;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -15vh);
  text-align: center;
}

.home img {
  max-width: 100%;
  height: 200px;
  border-radius: 50%;
}

.home-container {
  width: 100%;
  height: 100vh;
  /* transition-property: background-image;
  transition-duration: 2s;
  transition-timing-function: ease-in; */
  background-position: center;
  background-size: cover;
}

.filter {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  display: inline-block;
}

.info {
  max-width: 600px;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 2px;
}

.card-custom {
  width: 40px;
  text-align: center;
}

.card-custom img {
  width: 100%;
}

.order-container h2 {
  text-align: left;
}

.product-card {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 5px 10px;
}

.product-card .title {
  font-weight: bold;
}

.product-card .desc {
  font-weight: 300;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.product-card img {
  float: right;
  height: 100px;
  transform: translate(10px, -5px);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product-card .price {
  position: absolute;
  right: 25px;
  top: 5px;
  z-index: 10;
  background-color: rgba(245,245,245,0.8);
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
}

.qty {
  margin-bottom: 4px;
}

.qty input {
  width: 100px;
}

button.btn-outline-primary {
  color: #0a0a0a;
  border-color: #0a0a0a;
}

button.btn-outline-primary:hover {
  color: white;
  border-color: #0a0a0a;
  background-color: #0a0a0a;
}

.contact-container h3, .contact-container h5 {
  text-align: left;
}

.contact-container img {
  width: 40px;
}

.contact-container textarea {
  width: 100%;
}

.cover {
  width: 100%;
  background-position: center;
  background-image: url('/images/cover4.jpg');
  background-size: cover;
  height: 300px;
}


.basicLightbox--visible div .image {
  background-position: center;
  background-size: cover;
}

.basicLightbox--visible div {
  background: whitesmoke;
  border-radius: 2px;

}

.product-modal-content {
  padding: 10px;
}

.product-modal-content label {
  padding-right: 5px;
}

.product-modal-content img {
  width: 100%;
  max-width: 500px;
}

.product-modal-content .qty {
  width: 100px;
}

.product-modal-content textarea {
  width: 100%;
}

.product-modal-content center {
  margin-bottom: 10px;
}

#bag-icon {
  position: fixed;
  z-index: 11;
  background-color: whitesmoke;
  bottom: 10px;
  right: 10px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#bag-icon:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  animation: wiggle 0.3s linear forwards;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.bag {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  z-index: 12;
  background-color: rgba(0,0,0,0.8);
}

.bag-content {
  background-color: whitesmoke;
  width: 300px;
  position: absolute;
  right: 0;
  height: 100vh;
}
