name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - master

concurrency:
  group: main-deploy-job
  cancel-in-progress: true

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

        # Use GitHub Actions' cache to shorten build times and decrease load on servers
      - uses: actions/cache@v5
        with:
          path:  vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Deal with deps
        run: |-
          echo "DEBUG >"
          sudo apt-get update
          sudo apt-get install -y libmagickwand-dev
          sudo sed -i 's/none/read,write/g' /etc/ImageMagick-6/policy.xml
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - run: |-
          bundle install --path vendor/bundle --jobs 4 --retry 3
        # Use GitHub Actions' cache to shorten build times and decrease load on servers
      - uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - run: bundle exec jekyll build

      - run: ls

      - name: Deploy to GitHub Pages
        uses: Cecilapp/GitHub-Pages-deploy@v3
        with:
          email: fizal.sarif@gmail.com      # required
          build_dir: _site                # "_site" by default
          cname: saffron.fizal.me         # empty by default
          jekyll: yes                     # "no" by default
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
