name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - master

concurrency:
  group: main-deploy-job
  cancel-in-progress: true

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deal with deps
        run: |-
          sudo apt-get update
          # Add imagemagick to the list below
          sudo apt-get install -y imagemagick libmagickwand-dev
          sudo sed -i 's/none/read,write/g' /etc/ImageMagick-6/policy.xml

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: false # Manual caching requested

      # --- START MANUAL CACHE ---
      - name: Cache Ruby Gems
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Install dependencies
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      # --- END MANUAL CACHE ---

      - run: bundle exec jekyll build

      - name: Deploy to GitHub Pages
        uses: Cecilapp/GitHub-Pages-deploy@v3
        with:
          email: fizal.sarif@gmail.com
          build_dir: _site
          cname: saffron.fizal.me
          jekyll: yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
