name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - master

concurrency:
  group: main-deploy-job
  cancel-in-progress: true

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deal with deps
        run: |-
          echo "DEBUG >"
          sudo apt-get update
          sudo apt-get install -y libmagickwand-dev
          sudo sed -i 's/none/read,write/g' /etc/ImageMagick-6/policy.xml
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - run: |-
          NOKOGIRI_USE_SYSTEM_LIBRARIES=1 bundle update --conservative nokogiri --jobs 4 --retry 3
          bundle install --jobs 4 --retry 3

      - run: bundle exec jekyll build

      - run: ls

      - name: Deploy to GitHub Pages
        uses: Cecilapp/GitHub-Pages-deploy@v3
        with:
          email: fizal.sarif@gmail.com      # required
          build_dir: _site                # "_site" by default
          cname: saffron.fizal.me         # empty by default
          jekyll: yes                     # "no" by default
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
